//
   Created by nuko on 2015. 6. 15..

extends layout

block content
    .container
        h5 관리자 페이지
        table.hoverable
            thead
                tr
                    th(data-field='id') title
                    th(data-field='description') description
                    th(data-field='price') Price
                    th(data-field='reqNumber') reqNumber
                    th(data-field='width') width
                    th(data-field='height') height
                    th(data-field='duedate') duedate
                    th(data-field='file1') file1
                    th(data-field='file2') file2
                    th(data-field='updated_at') updated_at

            tbody
                tr
                    td 제목
                    td 내 설명
                    td 300만원
                    td 10개
                    td 300
                    td 300
                    td 8월 25일
                    td 파일 1
                    td 파일 2
                    td 바로 지금
                for result in data
                    - var length = result.title.split(",").length
                    // file2 is not initiated
                    - var title_array, description_array, price_array, reqNumber_array, width_array, height_array, duedate_array, file1_array, file2_array, updated_at_array
                    - title_array = result.title.split(",")
                    - description_array = result.description.split(",")
                    - price_array = result.price.split(",")
                    - reqNumber_array = result.reqNumber.split(",")
                    - width_array = result.width.split(",")
                    - height_array = result.height.split(",")
                    - duedate_array = result.duedate.split(",")
                    //- updated_at_array = result.updated_at.split(",")
                    - var index = 0
                    while length > index
                        tr
                            td #{title_array[index]}
                            td #{description_array[index]}
                            td #{price_array[index]}
                            td #{reqNumber_array[index]}
                            td #{width_array[index]}
                            td #{height_array[index]}
                            td #{duedate_array[index]}
                            td what
                            //td #{updated_at_array[index]}
                        - index++
                    p #{length.length}
// todo 이미지 나오게 하기
